<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("head") %>

</head>
<body>
    <nav class="navbar">
        <form action="/logout">
            <button>Logout</button>
        </form>
        <h1>Welcome To Tweeter</h1>

    </nav>
</body>
</html>